.App {
  text-align: center;
}

body {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#f9f4f4),
      to(#b2adda)
    )
    fixed;
  font-family: "Comfortaa", cursive; 
}
